/*- BASE -*/
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
/*- GÉNÉRAL -*/

body{
    font-family: "Montserrat", "Nunito", "Raleway", sans-serif;
    background-color: #A1B0AB;

    
}

.wrapper{
    max-width: 1320px;
    margin: 0 auto;
}

/*- ÉLÉMENTS -*/
h1{
    font-family: "Montserrat", sans-serif;
    font-size: 3.8rem;
    font-weight: 900;
    letter-spacing: 3px;
    color: #fff;

    text-align: left;

    margin: 0;
    margin-bottom: 10px;
    padding: 0;


}

h2{
    font-family: "Nunito", sans-serif;
    font-size: 3rem;
    font-weight: bold;

    text-align: center;

    margin: 0;
    padding: 0;
}

h3{
    font-family: "Nunito", sans-serif;
    font-size: 2.4rem;
    line-height: 28px;
    font-weight: 600;
    text-transform: uppercase;

    margin: 0;
    padding: 0;

    text-align: center;
}

p{
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    line-height: 25px;
    font-weight: 400;

    text-align: center;

    margin: 0;
    padding: 0;
}

a{
    font-family: "Raleway", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    

    margin: 0;
    padding: 0;

    text-align: center;

    text-decoration: none;

    
}
a.bouton{
    font-variant: small-caps;
}

hr{
    color: #424242;
    border: 3px solid #424242;

    margin-top: 100px;
}

ul{
    list-style-type: none;

    margin: 0;
    padding: 0;
}

li{
    margin: 0;
    padding: 0;
}


/*- COMPONENTS -*/

/* header */

header{
    background-color: #EB4652;
    height: 60px;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60px;
    font-variant: small-caps;
}

header nav ul{
    display: flex;
    justify-content: center;;
    align-items: center;
    gap: 50px;
}

header nav img{
    margin: 0 115px;
}

header nav a{
    color: white;
}

header nav a:hover{
    text-decoration-line: underline;
    color: #424242;
}

/* hero */

.hero{
    
    width: 100%;
    background-image: url(../images/hero.png);
    background-size: cover;
    background-position: bottom;
    
    
}

.hero .wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    height: 650px;
   

    
}

.boite{

    position: absolute;
    bottom: 70px;
    
    width: 600px;
    background-color: #424242;
    padding: 30px;
    width: 500px;
    
}

.hero p{
    color: #fff;
    text-align: left;
}

/* description */

.description{
    text-align: center;
}

.description h2{
    margin-top: 50px;
    margin-bottom: 30px;
}

.description p{
    margin-bottom: 40px;
}

.description a{
    font-weight: bold;
    font-style: italic;
    padding: 10px 30px;
    background-color: #EB4652;
    color: white;
}

.description a:hover{
    background-color: #929487;
}

/* équipe */

.equipe h2{
    margin: 25px 0;
}

.grilleEquipe{
    margin-top: 30px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.equipe article{
    text-align: center;
    gap: 115px;
}

.equipe img{
    max-width: 363px;
    max-height: 363px;
}

.equipe h3{
    margin-top: 30px;
}

.equipe article p{
    margin-bottom: 50px;
}

/* produits */

.produits{
    background-color: #AEE5D8;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
}

.produits h2{
    margin-bottom: 25px;
}

.produits nav{
    margin: 36px 0 55px 0;
}

.produits nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.produits nav a{
    color: white;
    background-color: #EB4652;
    padding: 5px 10px;

    font-variant: small-caps;
}

.produits nav a:hover{
    background-color: #929487;
}

.grilleProduits{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 70px;

    margin-bottom: 20px;
}

.grilleProduits article{
    text-align: center;
}

.grilleProduits img{
    background-color: #fff;
    border: 5px solid #424242;  /*- -*/
    border: 10px solid rgba(0, 0, 0, 0);
    
}

.grilleProduits img:hover{
    background-color: #55D6C2;
    border: 0 solid #424242;
    border: 10px solid #424242;
}

.produits a.bouton{
    color: #fff;
    
    font-weight: bold;
    font-style: italic;

    padding: 10px 30px;
    background-color: #EB4652;
    
}

.produits a.bouton:hover{
    background-color: #929487;
}

/* contact */

.contact{
    padding: 50px 0;
    background-color: #929487;
}

.contact h2{
    font-variant: small-caps;
    margin-bottom: 50px;
    padding-top: 50px;
}

.contact .wrapper{
    background-color: #A1B0AB;
    padding-bottom: 50px;
}

.alignement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;

    margin-bottom: 45px;
}

.alignement img{
    margin-left: 75px;
}

.contenu{
    margin-right: 75px;
}

.contenu p{
    text-align: start;
}

.contenu h3{
    text-align: start;
    color: black;
}

.contenu a{
    color: black;
    font-size: 2.4rem;
    font-weight: 500;
}    

.contenu .location{
    margin-top: 20px;
    margin-bottom: 40px;
}

.contact{
    text-align: center;
}

.contact nav{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.contact nav img{
    margin: 0;
    max-width: 50px;
}

.contact a.bouton{
    color: #424242;
    padding: 15px 40px;
    font-style: italic;
    font-weight: bold;

    border: 3px solid #EB4652;
    border-radius: 5px;

    margin-top: 45px;
}

.contact a.bouton:hover{
    color: black;
}


/* footer */

.footer{
    background-color: #424242;
}

.footer .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 50px;
}

.footer p{
    color: #fff;
}

.footer a{
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid #fff;
    padding: 5px;
    border-radius: 100%;
}

.footer a:hover{
    border: 3px solid #929487;
}

/* modale */



/* =============== Liste-article =============== */


/* hero */
.vedette .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 50px;
    padding-bottom: 50px;
}

.vedette .boiteVedette{
    background-color: #424242;
    color: white;
    width: 500px;
}